@model StoreFront.DATA.EF.Models.Game

@{
    ViewData["Title"] = Model.Product.ProductName + "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.Genre1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GameId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
